<a href="https://colab.research.google.com/github/lifepopkay/Tech-Monies/blob/Data-cleaning/year_of_experience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
tech_monies = pd.read_excel('Combined Country DataSet.xlsx')

In [ ]:
tech_monies.head()

,title,id,company,location,link,salaryDesc,postDate,JobDesc,title scraped for,Country
0,Senior Software Engineer,job_3e1d31dda6c5cb4b,Offerzen,Lagos,/company/OfferZen/jobs/Senior-Software-Enginee...,Full-time,Just posted,The Opportunity\nOur newly formed Marketplace ...,Data Scientist,Nigeria
1,Data Scientist,job_c3e2ed6ba483528b,GVA Partners,Lagos,/company/GVA-Partners/jobs/Data-Scientist-c3e2...,Permanent +1,Today,Our client requires the skills of a Data Scien...,Data Scientist,Nigeria
2,Full stack developer,job_264deaa0926c095e,Horizonpay Nigeria Limited,Lagos,/company/HorizonPay-Nigeria-Limited/jobs/Full-...,"‚Ç¶700,000 a monthFull-time",Today,\nWork with development teams and product mana...,Data Scientist,Nigeria
3,Superintendent Pharmaceutical Officer,job_4ba7daa713f2751c,NaN,Lagos,/rc/clk?jk=4ba7daa713f2751c&fccid=dd616958bd9d...,Full-time,4 days ago,\n\n\n\nSuperintendent Pharmaceutical Officer\...,Data Scientist,Nigeria
4,Project HSE Advisor I,job_45b19f53adcf0053,Worley,Abeokuta,/rc/clk?jk=45b19f53adcf0053&fccid=d9805af20a6c...,Full-time,5 days ago,\n\n Company : Worley \n \n\nPrimary Location...,Data Scientist,Nigeria

In [ ]:
tech_monies.shape

(8700, 10)

In [ ]:
tech_monies.columns

Index(['title', 'id', 'company', 'location', 'link', 'salaryDesc', 'postDate',
       'JobDesc', 'title scraped for', 'Country'],
      dtype='object')

In [ ]:
sample = pd.DataFrame(tech_monies.JobDesc)

In [ ]:
sample.shape

(8700, 1)

In [ ]:
sample.head()

                                             JobDesc
0  The Opportunity\nOur newly formed Marketplace ...
1  Our client requires the skills of a Data Scien...
2  \nWork with development teams and product mana...
3  \n\n\n\nSuperintendent Pharmaceutical Officer\...
4  \n\n  Company : Worley \n \n\nPrimary Location...

In [ ]:

sample2 = sample.JobDesc[0:]

sample2 = pd.DataFrame(sample2)

In [ ]:


def years_exp(x):
  global result
  expression = "\d*\+?\s+(?=year)"
  matches=re.search(expression,str(x))
  if matches:
    result = matches.group(0)
  else:
      None

  return result
  
  


sample2['year_of_exp'] = sample2['JobDesc'].apply(lambda x: years_exp(x))

In [ ]:
sample2.head()

                                             JobDesc year_of_exp
0  The Opportunity\nOur newly formed Marketplace ...         5+
1  Our client requires the skills of a Data Scien...          4
2  \nWork with development teams and product mana...          3
3  \n\n\n\nSuperintendent Pharmaceutical Officer\...          2
4  \n\n  Company : Worley \n \n\nPrimary Location...          5

In [ ]:
tech_monies['years_of_experience'] = sample2['year_of_exp']

In [ ]:
tech_monies.head()

,title,id,company,location,link,salaryDesc,postDate,JobDesc,title scraped for,Country,years_of_experience
0,Senior Software Engineer,job_3e1d31dda6c5cb4b,Offerzen,Lagos,/company/OfferZen/jobs/Senior-Software-Enginee...,Full-time,Just posted,The Opportunity\nOur newly formed Marketplace ...,Data Scientist,Nigeria,5+
1,Data Scientist,job_c3e2ed6ba483528b,GVA Partners,Lagos,/company/GVA-Partners/jobs/Data-Scientist-c3e2...,Permanent +1,Today,Our client requires the skills of a Data Scien...,Data Scientist,Nigeria,4
2,Full stack developer,job_264deaa0926c095e,Horizonpay Nigeria Limited,Lagos,/company/HorizonPay-Nigeria-Limited/jobs/Full-...,"‚Ç¶700,000 a monthFull-time",Today,\nWork with development teams and product mana...,Data Scientist,Nigeria,3
3,Superintendent Pharmaceutical Officer,job_4ba7daa713f2751c,NaN,Lagos,/rc/clk?jk=4ba7daa713f2751c&fccid=dd616958bd9d...,Full-time,4 days ago,\n\n\n\nSuperintendent Pharmaceutical Officer\...,Data Scientist,Nigeria,2
4,Project HSE Advisor I,job_45b19f53adcf0053,Worley,Abeokuta,/rc/clk?jk=45b19f53adcf0053&fccid=d9805af20a6c...,Full-time,5 days ago,\n\n Company : Worley \n \n\nPrimary Location...,Data Scientist,Nigeria,5

In [ ]:
tech_monies.to_csv('tech_Monies.csv')